# Attempt to set PHP version to 8.2
# <IfModule mod_env.c>
#     AddHandler application/x-httpd-php82 .php
# </IfModule>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Handle PHP Files
<Files *.php>
    Order Allow,Deny
    Deny from all
</Files>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

# Disable Indexes
Options -Indexes

# Hide .htaccess
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>
